html{
	height:100%;
}

*{margin:0px;
padding: 0px;
box-sizing:border-box;}
body{background-color: #a4508b;
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
height:100%;
margin:0;
background-repeat:no-repeat;
background-attachment:fixed;
}
ul{list-style:none;}
.container{
top:20px;
 left:50%;
 position:relative;
 transform:translate(-50%,0);
 box-sizing:border-box;
 	
 max-width:75%;
 text-align:center;
 min-height:100%;
 height:auto !important;
}

.header{
	font-size: 40px;
	margin-bottom:3vw;
	
	color:white;
	text-decoration:underline;
    font-family:Monotype Corsiva;

}

#myInput{
	height:25px;
	width:20vw;
}

button {    
background-color:rgba(0,0,0,0);  
padding:5px;
border-radius:1vw; color:white; font-size:15px; }


button:hover{ background-color:red;  }


#list{border-radius:15px;
background-color:rgba(0,0,0,0.7);
min-height:450px;
overflow:hidden;
padding-top:5px;    
}

li{
background-color:white;
margin:5px;
overflow:hidden;
list-style: none;
user-select:none;
border-radius:15px;
}
.left{float: left;

font-size:25px;
margin-left:20px;
}
.right{float:right;


overflow:hidden;
margin-right:15px;
}

.done{
	text-decoration:line-through;
	color:gray;
}
